.search-bars {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}

.search-bars__bar {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 #3d4e611a;
  transition: all 0.4s;
}

.search-bars__bar:hover {
  box-shadow: 0 3px 8px 0 #3d4e6133;
}

.search-bars__bar:focus-within {
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
}

.search-bars__bar--big {
  height: 70px;
  margin-top: 20px;
}

.search-bars__bar--small {
  height: 42px;
  margin-top: 20px;
}

.search-bars__search {
  background-image: url('../../images/Search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.search-bars__search--big {
  width: 21px;
  height: 21px;
  margin: 0 17px 0 26px;
}

.search-bars__search--small {
  width: 12px;
  height: 12px;
  margin: 0 9px 0 13px;
}

.search-bars__input {
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  font-family: Avenir, sans-serif;
  line-height: 100%;
  color: #3d4e61;
  background: 0;
}

.search-bars__input::placeholder {
  opacity: 1;
  color: #3d4e61;
}

.search-bars__input:focus {
  font-weight: 900;
  text-shadow: 0 4px 4px 0 #00000040;
}

.search-bars__input--big {
  font-size: 16px;
}

.search-bars__input--small {
  font-size: 14px;
}
