/* #region fonts */
@font-face {
  font-family: Avenir;
  src: url(../../fonts/Avenir.ttc);
}

@font-face {
  font-family: Avenir-Book;
  src: url(../../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(../../fonts/Avenir-Heavy.ttf);
}

/* #endregion fonts */

/* #region basic styles */

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

input {
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

/* #endregion basic styles */
