.big__form__conteiner {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  height: 70px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(225, 231, 237, 1);
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
}

.big__form__input {
  font-family: Avenir, serif;
  font-size: 16px;
  text-align: left;
  border: none;
  outline: none;
  padding: 0;
  color: rgba(61, 78, 97, 1);
  flex: 1;
}

.big__form__input::placeholder {
  color: rgba(61, 78, 97, 1);
}

.big__form__input:focus {
  background: linear-gradient(180deg, hsl(0%, 100%) 0%, #f6f6f7 100%);
  font-weight: 700;
  color: rgba(61, 78, 97, 1);
}

.big__form__conteiner:hover {
  border: 1px solid rgba(225, 231, 237, 1);
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
}

.form__big__icon {
  width: 19px;
  height: 19px;
  margin-left: 26px;
  margin-right: 17px;
}
