/* add styles here */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: Avenir;
  src:
    url(../../fonts/Avenir-Book.ttf),
    url(../../fonts/Avenir-Heavy.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: rgba(61, 78, 97, 1);
  font-family: Avenir, sans-serif;
}
