@font-face {
  font-family: Avenir;
  src: url(../../fonts/Avenir-Book.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(../../fonts/Avenir-Heavy.ttf);
  font-weight: 900;
}

body {
  margin: 0;

  font-family: Avenir, sans-serif;
  font-weight: 300;
}
