.search__bar--big :focus,
.search__bar--small :focus {
  border: none;
  color: #3D4E61;
  background: linear-gradient(180deg, #FFF 0%, #F6F6F7 100%);
}

.search__bar--big :focus {
  box-shadow: none;
}

.search__bar--small :focus {
  font-weight: 900;
}
