.search__bar--big :focus {
  box-shadow: none;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-image: url(./../../images/Search.svg);
  background-position: bottom 25px left 25px;
  background-repeat: no-repeat;
  background-size: 19px 19px;
  border: none;
  font-family: inherit;
  color: #3D4E61;
  font-weight: 900;
}

.search__bar--small :focus {
  background: linear-gradient(180deg, #FFF 0%, #F6F6F7 100%);
  background-image: url(./../../images/Search.svg);
  background-repeat: no-repeat;
  background-position: bottom 15px left 12px;
  background-size: 11px 11px;
  border: none;
  font-family: inherit;
  color: #3D4E61;
  font-weight: 900;
}


