@font-face {
  font-family: AvenirBook;
  src: url('./fonts/Avenir-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: AvenirHeavy;
  src: url('./fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url('./fonts/Avenir.ttc') format('truetype-collection');
  font-weight: 300;
  font-style: normal;
}
