@font-face {
  font-family: Avenir;
  font-weight: normal;
  src: url(../../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir;
  font-weight: bold;
  src: url(../../fonts/Avenir-Heavy.ttf);
}
