@font-face {
  font-family: Avenir;
  src: url(/src/fonts/Avenir.ttc);
}

@font-face {
  font-family: Avenir-Book;
  src: url(/src/fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(/src/fonts/Avenir-Heavy.ttf);
  font-weight: bold;
}
