@font-face {
  font-family: Avenir;
  src: url(../../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir;
  src: url(../../fonts/Avenir-Heavy.ttf);
  font-weight: bold;
}

[data-qa='big'] > input {
  border: none;
  font-family: Avenir, sans-serif;
  font-weight: 300;
  color: #3d4e61;
  position: relative;
}

[data-qa='small'] > input {
  border: none;
  font-family: Avenir, sans-serif;
  font-weight: 300;
  color: #3d4e61;
}

.big--input {
  padding: 25px 0 26px 62px;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
}

.small--input {
  padding: 12px 0 11px 33px;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
}

[data-qa='big']::after {
  content: ' ';
  left: 26px;
  background-image: url(./../../images/Search.svg);
  background-size: cover;
  width: 19px;
  height: 19px;
  position: absolute;
}

[data-qa='small']::after {
  content: ' ';
  left: 13px;
  background-image: url(./../../images/Search.svg);
  background-size: cover;
  height: 11px;
  width: 11px;
  position: absolute;
}

input:focus {
  outline: none;
  background: linear-gradient(#fff 0%, #f6f6f7 100%);
}
