.search__bar--big :hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.search__bar--small :hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.20);
}

.search__bar :hover {
  box-shadow: none;
}
