.search__bar--big :hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.search__bar--small :hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.20);
}

.search__bar--big :hover,
.search__bar--big :focus {
  background-image: url(./../../images/Search.svg);
  background-repeat: no-repeat;
  background-position: bottom 25px left 25px;
  background-size: 19px 19px;
}

.search__bar--small :hover,
.search__bar--small :focus {
  background-image: url(./../../images/Search.svg);
  background-repeat: no-repeat;
  background-position: bottom 15px left 12px;
  background-size: 11px 11px;
}

