* {
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Avenir;
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/Avenir-Book.ttf') format('truetype');
}

@font-face {
  font-family: Avenir;
  font-weight: 600;
  font-style: normal;
  src: url('../../fonts/Avenir-Heavy.ttf') format('truetype');
}

html {
  font-family: Avenir, sans-serif;
  font-size: 16px;
}
