.search-icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/Search.svg);
}

.search-icon--big {
  width: 19px;
  height: 19px;
}

.search-icon--small {
  width: 11px;
  height: 11px;
}
