.icon__search {
  background-image: url(../../images/Search.svg);
  background-repeat: no-repeat;
  position: absolute;
}

.icon__search--size--big {
  box-sizing: content-box;
  width: 19px;
  height: 19px;
  left: 26px;
}

.icon__search--size--small {
  box-sizing: content-box;
  width: 11px;
  height: 12px;
  left: 13px;
}
