.search__bar--big--icon,
.search__bar--small--icon {
  display: flex;
  background-image: url(./../../images/Search.svg);
  background-size: contain;
  background-color: #fff;
  border: 0;
  padding: 0;
}

.search__bar--big--icon {
  height: 19px;
  width: 19px;
  margin: 24.33px 16.33px 25.33px 25.33px;
}

.search__bar--small--icon {
  height: 11px;
  width: 11px;
  margin: 14.33px 8.33px 15.33px 12.33px;
}
