.search__bar--big--input,
.search__bar--small--input {
  font-family: inherit;
  font-weight: 400;
  color: #3D4E61;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border: 0;
  border-radius: 4px;
  line-height: inherit;
}

.search__bar--big--input {
  font-family: inherit;
  font-size: 16px;
  padding: 24.33px 0 23.33px 62px;
  width: calc(100% - 62px);
  background-image: url(./../../images/Search.svg);
  background-position: bottom 25px left 25px;
  background-repeat: no-repeat;
  background-size: 19px 19px;
}

.search__bar--small--input {
  font-family: inherit;
  font-size: 14px;
  padding: 10.33px 0 10.33px 33px;
  width: calc(100% - 33px);
  background-image: url(./../../images/Search.svg);
  background-repeat: no-repeat;
  background-position: bottom 15px left 12px;
  background-size: 11px 11px;
}
