.search__bar--big--input,
.search__bar--small--input {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border: none;
  padding: 0;
  color: #3D4E61;
  font-weight: 300;

}

.search__bar--big--input {
  font-size: 15px;
  margin: 25px 29px 26px 0;
  margin-left: 62px;
  height: 19px;
}

.search__bar--big,
.search__bar--small {
  background-image: url(./../../images/Search.svg);
  background-color: #fff;
  background-repeat: no-repeat;
}

.search__bar--big {
  background-position: bottom 26px left 26px;
  background-size: 19px 19px;
}

.search__bar--small--input {
  font-size: 14px;
  margin-top: 9px;
  margin-bottom: 11px;
  margin-left: 33px;
  height: 18px;
}

.search__bar--small {
  background-position: bottom 16px left 14px;
  background-size: 11px 11px;
}
