.input {
  position: relative;
}

.input::before {
  position: absolute;
  content: '';
  display: block;
  background-image: url(../../images/Search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.input__big::before {
  top: 50%;
  transform: translateY(-50%);
  left: 26px;
  width: 19px;
  height: 19px;
}

.input__small::before {
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  width: 11px;
  height: 11px;
}

.input__field {
  display: block;
  width: 100%;
  border: 1px solid #E1E7ED;
  border-radius: 4px;
  box-shadow: 0 1px #E1E7ED;
}

.input__field:hover {
  border: 1px solid #E1E7ED;
  border-radius: 4px;
}

.input__field:focus {
  font-weight: bold;
  color: #3D4E61;
  background: linear-gradient(#FFF, #F6F6F7);
  outline: none;
  border-radius: 3px;
}

.input__field--big {
  padding: 25px 25px 23px 62px;
  font-size: 16px;
  line-height: 22px;
}

.input__field--big:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.input__field--big:focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

.input__field--small {
  padding: 12px 12px 11px 33px;
  font-size: 14px;
  line-height: 19px;
}

.input__field--small:hover {
  box-shadow: 0 3px 8px rgba(61, 78, 97, 0.2);
}


.input__field--small:focus {
  box-shadow: 0;
}


