.search__bar--big--input,
.search__bar--small--input {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border: none;
  padding: 0;
  color: #3D4E61;
  font-weight: 300;
}

.search__bar--big--input {
  font-size: 15px;
  margin: 24.33px 28.33px 25.33px 0;
  height: 19px;
}

.search__bar--small--input {
  font-size: 14px;
  margin-top: 8.33px;
  margin-bottom: 10.33px;
}
