@font-face {
  font-family: Avenir;
  src: url(./../../fonts/Avenir-Book.ttf),
       url(./../../fonts/Avenir-Heavy.ttf),
       url(./../../fonts/Avenir.ttc);
}

body {
  font-family: Avenir, sans-serif;
}

