@font-face {
  font-family: Avenir;
  src: url('../../fonts/Avenir-Heavy.ttf');
  font-weight: 900;
}

* {
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  font-weight: 900;
}


body {
  margin-left: 8px;
  margin-top: 20px;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__form {
  width: 100%;
  display: flex;
  outline: none;
  border-radius: 4px;
  border: 1px solid #e1e7ed;
  box-shadow: 0 1px 8px #3d4e611a;
  color: #3d4f61ff;
  align-items: center;
}

.main__form--small {
  height: 42px;
  position: relative;
}

.main__form--big {
  height: 70px;
  margin-bottom: 20px;
  position: relative;
}

.main__form:hover {
  box-shadow: 0 4px 4px #00000040;
}
