.page {
  --primary-text-color: #3d4e61;
  --highlight-shadow: 0 4px 4px #00000040;

  font-family: AvenirCustom, sans-serif;
  font-weight: 300;
  color: var(--primary-text-color);
}

.page__form {
  padding-top: 12px;
}
