.page {
  --primary-border-color: #E1E7ED;
  --primary-text-color: #3D4E61;

  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--primary-text-color);
}


