@font-face {
  font-family: 'Avenir Book';
  src: url('../../fonts/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('../../fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 8px;
  font-family: 'Avenir Book', Arial, Helvetica, sans-serif;
}
