.search-form__icon {
  display: inline-flex;
  vertical-align: middle;
  background-image: url(../../images/Search.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.search-form__icon--big {
  width: 19px;
  height: 19px;
  margin-bottom: 2px;
  margin-right: 16px;
}

.search-form__icon--small {
  width: 11px;
  height: 11px;
  margin-bottom: 1px;
  margin-right: 8px;
}
