.search-bar--big {
  height: 70px;
  background-position: 25px 24px;
  background-size: 19px;
}

.search-bar--big .search-bar__input {
  height: 22px;
  margin-left: 62px;
  line-height: 25px;
}

.search-bar--big .search-bar__input::placeholder {
  font-size: 16px;
}
