.search-form__input {
  display: inline-flex;
  flex-grow: 1;
  border: transparent;
  outline: transparent;
  font-weight: 300;
  line-height: 100%;
}

.search-form__input::placeholder {
  color: #3d4e61;
  font-weight: 300;
}

.search-form__input--big {
  font-size: 16px;
}

.search-form__input--small {
  font-size: 14px;
}
