.search-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-left: 48px;
}

.search-field__input-big,
.search-field__input-small {
  width: 100%;
  padding-left: 62px;
}

.search-field--big {
  max-width: 900px;
}

.search-field--small {
  max-width: 427px;
}

.search-field {
  position: relative;
}

.search-field::before {
  content: '';
  position: absolute;
  background-image: url(../../images/Search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 19px;
  height: 19px;
  left: 26px;
  top: 50%;
  transform: translateY(-50%);
}

.search-field__input-big {
  height: 70px;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 #3d4e611a;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-field__input-big:hover {
  box-shadow: 0 3px 8px 0 #3d4e6133;
}

.search-field__input-big:focus {
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  border-radius: 3px;
}

.search-field__input-small {
  height: 42px;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 #3d4e611a;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search-field__input-small:hover {
  box-shadow: 0 3px 8px 0 #3d4e6133;
}

.search-field__input-small:focus {
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  border-radius: 3px;
  font-weight: 900;
}
