.container__small {
  margin: 20px 7px;
  width: 100%;
  height: 42px;
  gap: 9px;
  border: 1px;
  border-style: solid;
  border-color: #e1e7ed;
  box-shadow: 0 1px 8px 0 #3d4e611a;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.container__small:hover {
  box-shadow: 0 3px 8px 0 #3d4e6133;
}

.icon__small {
  width: 11px;
  height: 11px;
  margin-left: 13px;
}

.search__small {
  display: block;
  width: 100%;
  height: 99%;
  padding: 17px;
  border: none;
  padding-left: 0;
  font-size: 14px;
  font-family: Avenir, sans-serif;
  border-radius: 0 4px 4px 0;
}

.search__small:focus {
  outline: none;
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  font-weight: bold;
  border-radius: 0 4px 4px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
