.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
  position: relative;
  width: 100%;
}

.search-bar_big {
  width: 100%;
  height: 70px;
}

.search-bar_small {
  width: 100%;
  height: 42px;
}

.search-bar::after {
  position: absolute;
  content: '';
  display: block;
}

.search-bar_big::after {
  background-image: url('../../images/Search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 19px;
  height: 19px;
  top: 25px;
  left: 26px;
}

.search-bar_small::after {
  background-image: url('../../images/Search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 11px;
  height: 11px;
  top: 15px;
  left: 13px;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  color: #3d4e61;
  font-weight: 300;
  font-family: inherit;
  box-shadow: 0 1px 8px rgba(61, 78, 97, 0.1);
  outline: none;
}

.search-bar__input:hover {
  box-shadow: 0 3px 8px rgba(61, 78, 97, 0.2);
}

.search-bar__input_big {
  padding-left: 62px;
  font-size: 16px;
  line-height: 22px;
}

.search-bar__input_small {
  padding-left: 33px;
  font-size: 14px;
  line-height: 19px;
}

.search-bar__input::placeholder {
  color: inherit;
  font-weight: 300;
}

.search-bar__input_big::placeholder {
  font-size: 16px;
  line-height: 22px;
}

.search-bar__input_small::placeholder {
  font-size: 14px;
  line-height: 22px;
}

.search-bar__input:focus {
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  border-radius: 3px;
  font-weight: 600;
}
