.search-bar--small {
  height: 42px;
  background-position: 13px 15px;
  background-size: 11px;
}

.search-bar--small .search-bar__input {
  height: 20px;
  margin-left: 33px;
}

.search-bar--small .search-bar__input::placeholder {
  font-size: 14px;
}
