.search-bar {
  display: flex;
  justify-content: center;

  width: 100%;

  font-family: Avenir-Book, sans-serif;
  color: var(--font-color);
}

.search-bar--large {
  height: 70px;
  font-size: 16px;
}

.search-bar--small {
  height: 42px;
  font-size: 14px;
}

.search-bar__label {
  width: 100%;
  position: relative;
}

.search-bar__label::after {
  content: '';
  background-image: url(../../images/Search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: absolute;
}

.search-bar--large__label::after {
  width: 19px;
  height: 19px;
  top: 25px;
  left: 26px;
}

.search-bar--small__label::after {
  width: 11px;
  height: 11px;
  top: 15px;
  left: 13px;
}

.search-bar__input {
  width: 100%;
  height: 100%;

  font: inherit;
  border: 1px solid var(--border-color);
}

.search-bar__input:focus {
  font-family: Avenir-Heavy, sans-serif;
  background: linear-gradient(to bottom,var(--gradient-min-color),var(--gradient-max-color));
}

.search-bar--large__input {
  border-radius: 3px;
  padding-left: 62px;
}

.search-bar--small__input {
  border-radius: 4px;
  padding-left: 33px;
}

.search-bar:hover {
  box-shadow: 0 4px 4px var(--shadow-color);
}
