.search-bar__input {
  width: 100%;
  padding: 0;
  border: 0;

  font-family: Avenir, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 900;

  color: rgb(61, 78, 97);
  text-shadow: 0 4px 2.8px rgba(0, 0, 0, 0.25);
}

.search-bar__input::placeholder {
  font-weight: 300;
  color: rgb(61, 78, 97);
  text-shadow: none;
}

.search-bar__input:focus {
  outline: none;
}
