.search__big {
  max-width: 900px;
  height: 70px;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 #3d4e611a;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.search__big:hover {
  box-shadow: 0 3px 8px 0 #3d4e6133;
}

.search__big:focus {
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  border-radius: 3px;
}
