.small_search-bar {
  margin: 20px 8px;

}

.small_search-bar__input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #E1E7ED;
  background: #FFF;
  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.10);

  background-size: 11px;
  background-image: url(../../images/Search.svg);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 12px 14px;

  height: 42px;
  padding-left: 33px;
  color: #3D4E61;
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;

  transition: box-shadow 0.3s;
}

.small_search-bar__input:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.20);
}

.small_search-bar__input::placeholder {
  font-weight: 400;
  text-shadow: none;
}

.small_search-bar__input:focus {
  border-radius: 3px;
  font-weight: 800;
  outline: none;

  background: linear-gradient(180deg, #FFF 0%, #F6F6F7 100%) ;
}
