.search-form {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
  background: #fff;
}

.search-form--big {
  height: 70px;
  margin-bottom: 20px;
  padding-left: 25px;
}

.search-form--small {
  height: 42px;
  padding-left: 12px;
}

.search-form:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
}

.search-form:focus {
  border: #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
}
