.container__small {
  margin-top: 20px;
  margin-left: 20px;
  width: 427px;
  height: 42px;
  gap: 0;
  border: 1px;
  border-style: solid;
  border-color: #e1e7ed;
  box-shadow: 0 1px 8px 0 #3d4e611a;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.container__small:hover {
  box-shadow: 0 3px 8px 0 #3d4e6133;
}

.icon__small {
  background-image: url(../../images/Search.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 19px;
  padding-left: 19px;
  margin-left: 9px;
}

.search_small {
  display: block;
  width: 96%;
  height: 99%;
  padding: 17px;
  border: none;
  padding-left: 0;
  margin-left: 9px;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
}

.search_small:focus {
  outline: none;
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  font-weight: bold;
  border-radius: 0 4px 4px 0;
}
