.search-field {
  position: relative;
}

.search-field::before {
  content: '';
  position: absolute;
  background-image: url(../../images/Search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 19px;
  height: 19px;
  left: 26px;
  top: 50%;
  transform: translateY(-50%);
}

.search-field--big {
  max-width: 900px;
}

.search-field--small {
  max-width: 427px;
}
