.search-bar {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  margin-top: 20px;
  font-family: Avenir, sans-serif;
  font-weight: 300;

  &__input {
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    font-family: inherit;

    &--bg {
      font-size: 16px;
      font-weight: 400;
      margin-left: 17px;
    }

    &--sm {
      font-size: 14px;
      margin-left: 7px;
    }
  }

  &--bg {
    padding: 25px 26px 26px;
  }

  &--sm {
    padding: 15px 13px;
  }

  &:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    color: #d0d0d0;
  }

  &:focus-within {
    color: #3d4e61;
    font-weight: 400;
  }
}

.search-icon {
  background-image: url(../images/Search.svg);
  background-size: contain;
  background-repeat: no-repeat;

  &--bg {
    width: 19px;
    height: 19px;
  }

  &--sm {
    width: 11px;
    height: 11px;
  }
}

.input {
  border: none;
  height: 100%;
  width: 100%;
}
