.small__form__container {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  height: 42px;
  border: 1px solid rgba(225, 231, 237, 1);
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
}

.small__form__input {
  text-align: left;
  font-family: Avenir, serif;
  font-size: 14px;
  border: none;
  outline: none;
  padding: 0;
  color: rgba(61, 78, 97, 1);
  flex: 1;
}

.small__form__icon {
  width: 11px;
  height: 11px;
  margin-left: 13px;
  margin-right: 9px;
}

.small__form__input:focus {
  font-weight: 700;
  color: rgba(61, 78, 97, 1);
}

.small__form__input::placeholder {
  color: rgba(61, 78, 97, 1);
}

.small__form__container:hover {
  border: 1px solid rgba(225, 231, 237, 1);
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
}
