:root {
  --color-shadow-basic: rgba(61, 78, 97, 0.1);
  --color-shadow-secondary: rgba(0, 0, 0, 0.25);
  --color-text: #3d4e61;
  --color-border: #e1e7ed;
  --color-background: #fff;
  --shadow-secondary: 0 4px 4px 0 var(--color-shadow-secondary);
  --size-icon-small: 11px;
  --size-icon-big: 19px;
}
