
body {
  font-weight: 300;
}

.f-big {
  position: relative;
  margin: 20px 0;
}

::placeholder {
  color: rgba(61, 78, 97, 1);
}

.form-control-big {
  background: #fff;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  padding: 23px 10px 23px 62px;
  font-size: 16px;
  line-height: 22px;
}

.form-control-big:focus {
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  border: 1px solid #e1e7ed;
  border-radius: 3px;
}

.btn-big {
  background: #fff;
  position: absolute;
  border: none;
  left: 26px;
  top: 50%;
  transform: translateY(-50%);
}

.form-control-big:hover {
  box-shadow: 0 3px 8px rgba(61, 78, 97, 0.2);
}

.form-control-small {
  background: #fff;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  padding: 10px 9px 10px 37px;
  font-size: 14px;
  line-height: 19px;
}

.d-block {
  width: 100%;
  display: block;
}

.form-control-small:hover {
  box-shadow: 0 3px 8px rgba(61, 78, 97, 0.2);
}

.f-small {
  position: relative;
}

.btn-small {
  position: absolute;
  border: none;
  left: 13px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 4px;
}

.f-small:focus {
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  border: 1px solid #e1e7ed;
  border-radius: 3px;
}

.img-s {
  height: 11px;
  width: 11px;
  left: 13px;
  top: 15px;
}
