
 @font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
 }
 body {
    margin: 20px;
 }

 .input {
   background-image: url("./images/Search.svg");
   height: 70px;
   background-size: 19px 19px;
   background-repeat: no-repeat;
   background-position: top 25px left 26px;
   border: 1px solid #E1E7ED;
   width: 100%;
   font-weight: 300;
   position: relative; 
   border: 1px solid #E1E7ED;
   box-sizing: border-box;
   box-shadow: 0px 1px 8px rgba(61, 78, 97, 0.1);
   border-radius: 4px; 
   background-clip: content-box;
   background-origin: content-box;
 }

 .input:hover {

    background-color: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(61, 78, 97, 0.2); 
     
}

 .input:focus {
    border-radius: 3px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F6F7 100%);
 }

 .inputSmall {
    margin-top: 20px;
    height: 42px;
    background-position: top 15px left 13px;
    background-size: 11px 11px;  
 }
 
 .placeholder {

   position: relative;
   top: 25px;
   left: 60px;
   font-size: 16px;
   line-height: 22px;
   border: none;
 }
 .placeholder_1 {
   position: relative;
   top: 12px;
   left: 33px;
   font-size: 11px;
   line-height: 15px;
   border: none;
 }

 input::placeholder {
  border: none;
 }
 