@font-face {
  font-family: Avenir, sans-serif;
  src: url('./fonts/Avenir-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Avenir, sans-serif;
  src: url('./fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: Avenir, sans-serif;
  font-weight: 300;
  margin: 0;
}

.search--big {
  search--big
}


