@font-face {
  font-family: 'Avenir';
  src: url('./src/fonts/Avenir-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./src/fonts/Avenir-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: 'Avenir', sans-serif;
  font-weight: 300;
}


