.search-bar__small {
  height: 42px;
  margin-bottom: 0;
}

.search-bar__icon--small {
  width: 11px;
  height: 11px;
  margin: 15px 9px auto 13px;
}

.search-bar__input--small {
  font-size: 14px;
  height: 20px;
}
