$search-bar__font-family: Avenir;
$search-bar__font-weight: 300;
$search-bar__big--font-size: 16px;
$search-bar__small--font-size: 14px;
$search-bar__line-height: 100%;
$search-bar__letter-spacing: 0%;
$search-bar__gap: 20px;
$search-bar__padding: 10px 5px 5px;
$search-bar__big--padding-left: 62px;
$search-bar__small--padding-left: 32px;
$search-bar__background-image: 'images/Search.svg';
$search-bar__background-position-big: 26px center;
$search-bar__background-position-small: 13px center;
