@font-face {
  font-family: Avenir;
  src: url(../../fonts/Avenir.ttc);
}

* {
  box-sizing: border-box;
}

html,
input {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-weight: 300;
}
