@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Book.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(../fonts/Avenir-Heavy.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 8px;
  display: block;
  font-family: Avenir, sans-serif;
  font-weight: 300;
}

* {
  padding: 0;
  box-sizing: border-box;
}
