* {
  box-sizing: border-box;
}

html {
  font-family: Avenir, sans-serif;
  font-size: 16px;
  font-weight: normal;

  --text-primary-color: #3d4e61;
  --field-light-box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
  --field-bold-box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
  --field-light-linear-gradient: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);

}

.mt-20 {
  margin-top: 20px;
}
