@font-face {
  font-family: Avenir;
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir-heavy;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Avenir-Heavy.ttf);
}
