@font-face {
  font-family: 'Avenir Book';
  src: url('../fonts/Avenir-Book.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('../fonts/Avenir-Heavy.ttf');
  font-weight: 900;
}
