@font-face {
  font-family: Avenir;
  src:
    url('./../fonts/Avenir-Book.ttf') format('ttf'),
    url('./../fonts/Avenir-Heavy.ttf') format('ttf'),
    url('./../fonts/Avenir.ttc');
  font-weight: 300;
  font-style: normal;
}
