@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir.ttc);
  font-weight: 300;
}

html {
  font-family: Avenir, Arial, sans-serif;
  margin: 0;
}

.form__search-bar {
  margin: 0;
  padding: 0;
  width: 100%;
  font: inherit;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
  background-image: url(../images/Search.svg);
  background-repeat: no-repeat;
  color: #3d4e61;
  box-sizing: border-box;
}

.form__search-bar::placeholder {
  color: #3d4e61;
}

.form__search-bar:focus {
  outline: 0;
  font-weight: 800;
}
