.form__search-bar--small-search-form {
  height: 42px;
  padding-left: 33px;
  font-size: 14px;
  font-weight: 350;
  background-position: center left 13px;
  background-size: 11px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.form__search-bar--small-search-form:hover,
.form__search-bar--small-search-form:focus {
  text-shadow: none;
}

.form__search-bar--small-search-form:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
}

.form__search-bar--small-search-form:focus {
  background-color: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
}
