@mixin focus() {
  outline: none;
  border-radius: 3px;
  border: 1px solid $misty-blue-color;
}

@mixin placeholder() {
  font-weight: 300;
  color: $steel-blue-color;
  text-shadow: none;
}

.form {
  display: flex;
  padding-bottom: 20px;

  &__input {
    box-sizing: border-box;
    width: 100%;

    color: $steel-blue-color;
    font-size: 16px;
    font-weight: 800;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 4px;
    border: 1px solid $misty-blue-color;
    box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);

    padding: 25px calc(20px + #{$icon-size} + 17px);
    background: url("../images/Search.svg") 25px center / $icon-size no-repeat;

    &::placeholder {
      @include placeholder();
      font-size: 16px;
    }

    &:focus {
      @include focus();
      background: url("../images/Search.svg") 25px center / $icon-size no-repeat,
        linear-gradient(180deg, $white-color 0%, $gradient-end-color 100%);
    }

    &--small {
      font-size: 14px;
      padding: 12px calc(13px + #{$icon-size--small} + 9px);
      background: url("../images/Search.svg") 13px center / $icon-size--small no-repeat;

      &::placeholder {
        @include placeholder();
        font-size: 14px;
      }

      &:focus {
        @include focus();
        background: url("../images/Search.svg") 13px center / $icon-size--small no-repeat,
          linear-gradient(180deg, $white-color 0%, $gradient-end-color 100%);
      }
    }

    &:hover {
      box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
    }
  }
}
