@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(../fonts/Avenir-Heavy.ttf);
}

* {
  box-sizing: border-box;
  font-family: Avenir, Arial, sans-serif;
  font-weight: 300;
}
