.search-mobile {
  height: 42px;
  width: 100%;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #3d4e61;

  padding: 12px 12px 10px 33px;
}

.search-mobile:hover {
  box-shadow: 0 3px 8px 0 #3d4e6133;
}

.search-mobile:focus {
  font-weight: 900;
}
