.search__input {
  height: 70px;
  width: 100%;

  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #3d4e61;

  padding: 25px 25px 25px 62px;
}

.search__input:hover {
  box-shadow: 0 4px 4px 0 #00000040;
}

.search__input:focus {
  box-shadow: 0 4px 4px 0 #00000040;
  font-weight: 500;
}
