@font-face {
  font-family: Avenir;
  font-weight: 400;
  font-style: normal;
  src: url(fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir;
  font-weight: 800;
  font-style: normal;
  src: url(fonts/Avenir-Heavy.ttf);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Avenir, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0%;
}
