body {
  margin: 0 8px;
}

@font-face {
  font-family: Avenir;
  src: url('../fonts/avenir-book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Avenir;
  src: url('../fonts/avenir-heavy.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
