:root {
  --large_input_height: 70px;
  --small_input_height: 42px;
  --large_icon: 19px;
  --small_icon: 11px;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", sans-serif;
  font-weight: 300;
}
