@font-face {
  font-family: Avenir-Book;
  src: url(../fonts/Avenir-Book.ttf);
  font-family: Avenir-Heavy;
  src: url(../fonts/Avenir-Heavy.ttf);
}

.page {
  font-family: Avenir-Heavy, sans-serif;
  font-weight: 300;
  color: #3d4e61;
}

.page__body {
  margin: 0 10px;
}

.page__search-bar--big {
  margin: 20px 0;
}
