.search-icon {
  background-image: url(../images/Search.svg);
  background-position: center;
}

.search-icon--large {
  width: 19px;
  height: 19px;
  background-size: 19px;
}

.search-icon--small {
  width: 11px;
  height: 11px;
  background-size: 11px;
}
