@import "../styles/blocks/main.css";
@import "../styles/blocks/search__bar.css";
@import "../styles/blocks/big.css";
@import "../styles/blocks/small.css";
@import "../styles/blocks/inputs.css";
@import "../styles/blocks/hover.css";
@import "../styles/blocks/focus.css";

@font-face {
  font-family: Avenir;
  font-weight: 300;
  src: url(../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir;
  font-weight: 600;
  src: url(../fonts/Avenir-Heavy.ttf);
}


