@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Book.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir-Heavy.ttf");
  font-style: normal;
  font-weight: 400;
}

@import "./reset";
@import "./blocks/page";
@import "./blocks/search-bar";
