@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir-Book.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Avenir";
  src: url(../fonts/Avenir-Heavy.ttf);
  font-weight: bold;
}

@import "./blocks/page";
@import "./blocks/input-box";
