$icon-size: 19px;
$icon-size--small: 11px;

$steel-blue-color: hsl(212, 23%, 31%);
$slate-gray-color: hsl(213, 17%, 49%);
$misty-blue-color: hsl(210, 25%, 91%);
$white-color: hsl(0, 0%, 100%);
$black-color: hsl(0, 0%, 0%);
$gradient-end-color: hsl(240, 6%, 97%);
