.search-bar {
  --sb-focus-background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  --sb-border-color: #e1e7ed;
}

.search-bar--big {
  --sb-height: 68px;
  --sb-icon-size: 19px;
  --sb-icon-margin: 24px 18px 25px 25px;
  --sb-input-font-size: 16px;
}

.search-bar--small {
  --sb-height: 40px;
  --sb-icon-size: 11px;
  --sb-icon-margin: 14px 10px 15px 12px;
  --sb-input-font-size: 14px;
}
