@font-face {
  font-family: Avenir;
  src: url(/src/fonts/Avenir-Book.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Avenir;
  src: url(/src/fonts/Avenir-Heavy.ttf);
  font-weight: bold;
}
