@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 200;
  src: local("Avenir"),
    url("AvenirLTStd-Book.woff") format("woff");
}

@font-face {
  font-family: "Avenir";
  font-style: bold;
  font-weight: 700;
  src: local("Avenir-bold"),
    url("./Avenir-Heavy.woff") format("woff");
}
