// fonts
$font-family: 'Avenir', sans-serif;
$font-weight-regular: 300;
$font-size-big: 16px;
$font-size-small: 14px;

// colors
$color-text-placeholder: #8c8c8c;
$color-text-input: #3d4e61;
$color-border: #e0e0e0;
$color-border-focus: #999;
$color-background: #fff;
$color-page-bg: #f8f9fa;
$shadow-hover: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

// sizes
$border-radius: 8px;
$search-bar-width-big: 900px;
$search-bar-height-big: 70px;
$search-bar-height-small: 42px;
$page-padding-top: 71px;
$page-padding-horizontal: 48px;
$icon-size-big: 19px;
$icon-padding-left-big: 26px;
$icon-padding-top-big: 25px;
$icon-size-small: 11px;
$icon-padding-left-small: 13px;
$icon-padding-top-small: 15px;
$icon-gap: 15px;
