@import '../variables.css';

.search-form__input {
  height: 100%;
  width: 100%;
  border: none;
}

.search-form__input::placeholder {
  color: var(--text-color);
}

.search-form--large .search-form__input {
  font-size: 16px;
}

.search-form--small .search-form__input {
  font-size: 14px;
  font-weight: 400;
}

.search-form__input:focus {
  outline: none;
  font-weight: 900;

  background: linear-gradient(
    var(--first-gradient-form-color),
    var(--second-gradient-form-color)
  );
}

.search-form--large .search-form__input:focus {
  text-shadow: 0 4px 4px var(--box-shadow-dark-color);
}

.search-form__input--small:focus {
  text-shadow: none;
}

.search-form--small .search-form__input:active {
  text-shadow: none;
}

.search-form--small .search-form__input:hover {
  text-shadow: none;
}
