.input {
  font-size: 16px;
  font-weight: 300;
  display: block;
  width: 100%;
  background-image: url('../../images/Search.svg');
  background-repeat: no-repeat;
  appearance: none;
  border: 1px #e1e7ed solid;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 #3d4e611a;
}

.input:hover {
  box-shadow: 0 3px 8px 0 #3d4e6133;
}

.input:focus {
  font-weight: 800;
  box-shadow: 0 4px 4px 0 #00000040;
  outline: none;
  color: #3d4e61;
}

.input::placeholder {
  color: #3d4e61;
  font-weight: 300;
}

.input--big {
  font-size: 16px;
  line-height: 22px;
  height: 70px;
  background-position: 26;
  margin-bottom: 20px;
  padding-left: 62px;
  background-size: 19px;
  margin-top: 20px;
  color: #3d4e61;
}

.input--small {
  font-size: 14px;
  line-height: 20px;
  height: 42px;
  background-position: 13;
  padding-left: 33px;
  background-size: 11px;
  color: #3d4e61;
}
