@import '../variables.css';

@font-face {
  font-family: Avenir;
  src: url(../../fonts/Avenir.ttc);
}

html,
.search-form__input {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-weight: 300;
}

body {
  margin: 0;
}

.search-form__input {
  padding: 0;
}
