@font-face {
  font-family: Avenir;
  src: url(../../fonts/Avenir.ttc);
}

html,
input {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  color: #3d4e61;
  font-weight: 300;
}

body,
input {
  margin: 0;
  padding: 0;
}
