.search-form__search-icon {
  background: center no-repeat url(../../images/Search.svg);
  background-size: cover;
}

.search-form--large .search-form__search-icon {
  min-height: 19px;
  min-width: 19px;
  margin: 0 17px 0 26px;
}

.search-form--small .search-form__search-icon {
  min-height: 11px;
  min-width: 11px;
  margin: 0 9px 0 13px;
}
