@import '../style/big-search-bar.css';
@import '../style/small-search-bar.css';

@font-face {
  font-family: Avenir;
  font-weight: 400;
  src: url(../fonts/Avenir-Book.ttf) format('ttf');
}

@font-face {
  font-family: Avenir;
  font-weight: 900;
  src: url(../fonts/Avenir-Heavy.ttf) format('ttf');
}

html {
  font-family: Avenir, sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}
