@import '../style/big-search-bar.css';
@import '../style/small-search-bar.css';

@font-face {
  font-family: 'Avenir Book';
  src: url(../fonts/Avenir-Book.ttf) format('ttf');
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url(../fonts/Avenir-Heavy.ttf) format('ttf');
}

.body {
  font-family: 'Avenir Book', sans-serif;
  font-weight: 300;
}
