@import 'blocks/input.css';

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir.ttc), url(../fonts/Avenir.ttc);
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Heavy.ttf), url(../fonts/Avenir.ttc);
  font-weight: 800;
}

* {
  box-sizing: border-box;
  font-weight: 300;
  color: #3d4e61;
  font-family: Avenir, sans-serif;
}
