html {
  --text-color: #3d4e61;
  --border-color: #e1e7ed;
  --box-shadow-light-color: #3d4e611a;
  --box-shadow-darker-color: #3d4e6133;
  --box-shadow-dark-color: #00000040;
  --first-gradient-form-color: #fff;
  --second-gradient-form-color: #f6f6f7;
}
