$search-bar-color: #3d4e61;
$search-bar-font-weight-normal: 400;
$search-bar-font-weight-bold: 900;
$search-bar-font-size-big: 16px;
$search-bar-font-size-small: 14px;
$search-bar-box-shadow-normal: 0 1px 8px rgba(61, 78, 97, 0.1);
$search-bar-box-shadow-hover: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
$search-bar-background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
$search-bar-background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
$search-bar-border: 1px solid #e1e7ed;
