.button__icon {
  box-sizing: border-box;
  background-image: url(../images/icon-search.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
}

.button__icon--big {
  height: 32px;
  width: 32px;
  background-size: 19px;
  margin-left: 8px;
  margin-right: 4px;
}

.button__icon--small {
  height: 24px;
  width: 24px;
  background-size: 11px;
  margin-left: 9px;
  margin-right: 4px;
}
