.form__search {
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0 1px 8px rgba(61, 78, 97, 0.1);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(225, 231, 237, 1);
  border-radius: 4px;
}

.form__search--big {
  display: flex;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70px;
  font-size: 16px;
}

.form__search--small {
  display: flex;
  box-sizing: border-box;
  height: 42px;
  font-size: 14px;
}

.form-field {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
}

.form-field:hover {
  box-shadow: 0 3px 8px rgba(61, 78, 97, 0.2);
}

.form-field__text {
  display: flex;
  width: 100%;
  border: 0;
  color: rgba(61, 78, 97, 1);
}

.form-field__text:focus {
  outline: none;
  box-shadow: 0 3px 8px rgba(13, 43, 78, 1);
}
