@font-face {
  font-family: Avenir;
  font-weight: 400;
  font-style: normal;
  src: url(../../fonts/Avenir.ttc) format('truetype');
}

@font-face {
  font-family: Avenir;
  font-weight: 300;
  src: url(../../fonts/Avenir-Book.ttf) format('truetype');
}

@font-face {
  font-family: Avenir;
  font-weight: 900;
  src: url(../../fonts/Avenir-Heavy.ttf) format('truetype');
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: Avenir, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
