@font-face {
  font-family: "Avenir";
  src: url(./fonts/Avenir-Book.ttf);
  font-style: normal;
  font-weight: $search-bar-font-weight-normal;
}

@font-face {
  font-family: "Avenir";
  src: url(./fonts/Avenir-Heavy.ttf);
  font-style: normal;
  font-weight: $search-bar-font-weight-bold;
}

body {
  font-family: "Avenir", sans-serif;
  font-size: $search-bar-font-size-big;

  color: $search-bar-color;
}
