
.form {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
  border-radius: 4px;
}

.form__input {
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  font-weight: 300;
  color: #3d4e61;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url(../images/Search.svg) no-repeat #fff;
  border-radius: 4px;
  border: 1px solid #e1e7ed;
  box-shadow: 0 1px 8px 0 var(--shadow-color-basic);
  padding: 10px;
}

.form--big__input {
  height: 70px;
  font-size: 16px;
  padding: 0;
  text-indent: 62px;
  background-size: 19px;
  background-position-y: center;
  background-position-x: 25px;
}

.form--small__input {
  height: 42px;
  font-size: 14px;
  padding: 0;
  text-indent: 33px;
  background-size: 11px;
  background-position-y: center;
  background-position-x: 13px;
}

.form__input:hover {
  box-shadow: 0 4px 4px 0 var(--shadow-color-hover);
}

.form__input:focus {
  border-radius: 3px;
  border: 1px solid #e1e7ed;
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  font-style: bold;
  outline: none;
}
