.image {
  position: absolute;
  display: block;
  background-image: url(../images/Search.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image--big {
  top: 25px;
  left: 25px;
  width: 19px;
  height: 19px;
}

.image--small {
  top: 15px;
  left: 13px;
  width: 11px;
  height: 11px;
}
