.search-bar__input {
  border: none;
  font-family: Avenir, sans-serif;
  color: #3d4e61;
  flex-grow: 1;
  letter-spacing: normal;
  line-height: normal;
}

.search-bar__input--big {
  font-size: 16px;
  font-weight: 400;
}

.search-bar__input--small {
  font-size: 14px;
  font-weight: 400;
}

.search-bar__input--big::placeholder {
  font-family: Avenir, sans-serif;
  font-size: 16px;
  opacity: 1;
  color: #3d4e61;
}

.search-bar__input--small::placeholder {
  font-family: Avenir, sans-serif;
  font-size: 14px;
  letter-spacing: normal;
  line-height: normal;
  opacity: 1;
  color: #3d4e61;
}

.search-bar__input--big:focus {
  border: 0;
  border-style: hidden;
  color: #3d4e61;
  font-weight: 600;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  outline: none;
}

.search-bar__input--small:focus {
  border: 0;
  border-style: hidden;
  color: #3d4e61;
  font-weight: 600;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  outline: none;
  letter-spacing: normal;
  line-height: normal;
}
