@font-face {
  font-family: Avenir, italic;
  src:
    url(../fonts/Avenir-Book.ttf) format(main),
    url(../fonts/Avenir-Heavy.ttf) format(big);
  font-weight: 300;
}

body {
  margin-top: 0;
}

.search-bar {
  margin-top: 20px;
}
