@font-face {
  font-family: Avenir;
  src:
    url(../fonts/Avenir-Book.ttf) format(woff),
    url(../fonts/Avenir-Heavy.ttf) format(woff2);
  font-weight: 300;
}

body {
  margin-top: 0;
}

.search-bar {
  margin-top: 20px;
}
