@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Book.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir-Heavy.ttf);
  font-weight: bold;
}

body {
  margin: 0;
}
