.search {
  display: block;
  width: 100%;
}

/* Big search */
.search--big {
  max-width: 900px;
}

/* Small search */
.search--small {
  max-width: 427px;
}

.search + .search {
  margin-top: 20px;
}

.search__input {
  width: 100%;
  border: 1px solid #e1e7ed;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url('../images/Search.svg');
  font-family: Avenir, sans-serif;
  font-weight: 300;
  color: #3d4e61;
  transition:
    box-shadow 0.2s ease,
    border-color 0.2s ease;
}

/* Big input */
.search__input--big {
  padding: 25px 0 26px 62px;
  font-size: 16px;
  background-size: 19px 19px;
  background-position: 26px center;
  box-shadow: 0 1px 8px rgba(61, 78, 97, 0.1);
}

/* Small input */
.search__input--small {
  padding: 12px 0 11px 33px;
  font-size: 14px;
  border-radius: 3px;
  background-size: 11px 11px;
  background-position: 13px center;
  box-shadow: 0 1px 8px rgba(61, 78, 97, 0.1);
}

/* Hover */
.search__input:hover {
  border-color: #e1e7ed;
  box-shadow: 0 3px 8px rgba(61, 78, 97, 0.2);
}

/* Focus */
.search__input:focus {
  outline: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.search__input::placeholder {
  color: #3d4e61;
}
