.search-bars {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
}

/* #region bar */

.search-bar {
  display: flex;
  border-radius: 4px;
  border: 1px solid #e1e7ed;
  box-shadow: 0 1px 8px 0 #3d4e611a;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.search-bar--big {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 25px;
}

.search-bar--small {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
}

.search-bar:hover {
  box-shadow: 0 4px 4px 0 #00000040;
}

.search-bar:focus-within {
  box-shadow: 10px 10px 5px rgba(255, 255, 0, 0.2) inset;
}

/* #endregion */

.search-bar__text-field {
  display: flex;
  align-items: center;
}

/* #region img */

.search-bar__img {
  background-image: url(/src/images/Search.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.search-bar__img--big {
  width: 19px;
  height: 19px;
  margin-right: 16px;
}

.search-bar__img--small {
  width: 11px;
  height: 11px;
  margin-right: 9px;
}

/* #endregion */

/* #region input */

.search-bar__input {
  border: none;
  font-family: Avenir, sans-serif;
  color: #3d4e61;
  flex-grow: 1;
}

.search-bar__input--big {
  font-size: 16px;
  font-weight: 400;
}

.search-bar__input--small {
  font-size: 14px;
  font-weight: 400;
}

.search-bar__input--big::placeholder {
  font-family: Avenir, sans-serif;
  font-size: 16px;
  opacity: 1;
  color: #3d4e61;
}

.search-bar__input--small::placeholder {
  font-family: Avenir, sans-serif;
  font-size: 14px;
  letter-spacing: 0%;
  opacity: 1;
  color: #3d4e61;
}

.search-bar__input--big:focus {
  border: 0;
  border-style: hidden;
  color: #3d4e61;
  font-weight: 600;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  outline: none;
}

.search-bar__input--small:focus {
  border: 0;
  border-style: hidden;
  color: #3d4e61;
  font-weight: 600;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* #endregion */

/* # */
