.search-bar__text-field {
  display: flex;
  align-items: center;
}

.search-bar__img {
  background-image: url(/src/images/Search.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.search-bar__img--big {
  width: 19px;
  height: 19px;
  margin-right: 16px;
}

.search-bar__img--small {
  width: 11px;
  height: 11px;
  margin-right: 8px;
  margin-bottom: 2px;
  background-position: center;
}
