@font-face {
  font-family: Avenir;
  src: url(../../fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir;
  src: url(../../fonts/Avenir-Heavy.ttf);
  font-weight: bold;
}

body {
  font-family: Avenir, sans-serif;
  font-weight: 300;
}
