.search-tab__input--small {
  height: 42px;
  box-sizing: border-box;

  padding-left: 33px;

  font-weight: 400;
  font-size: 14px;

  background-position: top 14px left 12px;
  background-size:
    11px,
    100% 100%;
}

.search-tab__input--small:focus {
  background-position:
    center left 13px,
    0 0;
}
