*,
::before,
::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

input {
  margin: 0;
}

[type="search" i] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
