:root {
  --zero: 0;
  --br: 4px;
  --xs-pad: 4px;
  --sm-pad: 8px;
  --md-pad: 16px;

  --white: #fff;
  --black: #000;

  --font-size-base: 16px;
  --line-height-base: 1.5;

  --border: 1px solid var(--dividers);
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
