@font-face {
  font-family: 'Avenir book';
  src: url(fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: 'Avenir heavy';
  src: url(fonts/Avenir-Heavy.ttf);
}

.page__form_big {
  margin-top: 20px;
}

.form_big {
  display: flex;
  align-items: center;
  height: 68px;
  background-image: url(images/Search.svg);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position: 25px 24px;
  border: 1px solid rgba(225, 231, 237, 1);
  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
  border-radius: 4px;
}

.form_big__label {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
}

.form_big:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
}

.form_big .label__input {
  position: relative;
  left: 62px;
  font-family: 'Avenir book', Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  border: none;
  color: rgba(61, 78, 97, 1);
  padding: 0;
}
