.big-search {
  display: flex;
  position: relative;
  margin-top: 20px;
}

.big-search__icon {
  position: absolute;
  height: 19px;
  width: 19px;
  margin: 25px 26px;
  background-image: url(./images/Search.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.big-search__input {
  height: 70px;
  font-size: 16px;
  line-height: 70px;
  padding-left: 62px;
  box-sizing: border-box;
}

.big-search__input:focus {
  background-image: linear-gradient(#fff, #f6f6f7);
  font-weight: 900;
}
