.search__big-icon {
  position: absolute;
  height: 19px;
  width: 19px;
  top: 25px;
  left: 26px;
  background-image: url(./images/Search.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.big-input {
  height: 70px;
  font-size: 16px;
  line-height: 70px;
  padding-left: 62px;
  box-sizing: border-box;
}

.big-input:focus {
  background-image: linear-gradient(#fff, #f6f6f7);
  font-weight: 900;
  outline: none;
  color: #000;
}

.big-input:hover {
  box-shadow: 0 4px 6px rgba(61, 78, 97, 0.2);
}
