@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir.ttc);
}

@font-face {
  font-family: Avenir-Book;
  src: url(fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir-Heavy;
  src: url(fonts/Avenir-Heavy.ttf);
}
