@font-face {
  font-family: AvenirBook;
  src: url('./fonts/Avenir-Book.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: AvenirHeavy;
  src: url('./fonts/Avenir-Heavy.ttf');
  font-weight: 900;
  font-style: normal;
}
