@font-face {
  font-family: avenirbook;
  src:
    url('./fonts/avenir-book-webfont.woff2') format('woff2'),
    url('./fonts/avenir-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: avenirheavy;
  src:
    url('./fonts/avenir-heavy-webfont.woff2') format('woff2'),
    url('./fonts/avenir-heavy-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
