/* #region fonts */
@font-face {
  font-family: Avenir;
  src: url(../src/fonts/Avenir-Book.ttf);
  font-weight: 300;
  font-size: medium;
}

@font-face {
  font-family: Avenir;
  src: url(../src/fonts/Avenir-Book.ttf);
  font-weight: 400;
  font-size: medium;
}

@font-face {
  font-family: Avenir;
  src: url(../src/fonts/Avenir-Heavy.ttf);
  font-weight: 900;
  font-size: medium;
}

/* #endregion */

/*  DEFAULT SEARCH-BAR IS SEARCH-BAR-BIG */

/* #region page */
.page {
  box-sizing: border-box;
  margin: 8px;
  padding: 0;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

/* #endregion */
