/* #region fonts */
@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir-Book.ttf);
  font-weight: 400;
  font-size: medium;
}

@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir-Heavy.ttf);
  font-weight: 900;
  font-size: medium;
}

/* #endregion */

/* #region page */

.page {
  margin: 0;
}

/* #endregion */

/* #region layout */

/* .layout {

} */

/* #endregion */
