.page {
  padding: 0 8px;
  margin: 0;

  font-family: "Avenir", sans-serif;
}

.page__form {
  position: relative;
  margin-top: 20px;
}

.page__input {
  box-sizing: border-box;
  width: 100%;

  border-radius: 4px;
  border: 1px solid #e1e7ed;
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);

  transition: 0.2s;
}

.page__input:focus {
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  font-weight: bold;
}

.page__input::placeholder {
  color: #3d4e61;
  font-family: "Avenir", sans-serif;
}

.page__input--big {
  height: 70px;

  padding: 0 62px;
}

.page__input--big:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.page__input--big::placeholder {
  font-size: 16px;
}

.page__input--small {
  height: 40.25px;

  padding: 0 33px;
}

.page__input--small:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
}

.page__input--small::placeholder {
  font-size: 14px;
}

.page__search-logo {
  position: absolute;

  background-image: url("images/Search.svg");
  background-size: cover;
}

.page__search-logo--big {
  top: 25px;
  left: 25px;

  width: 19px;
  height: 19px;
}

.page__search-logo--small {
  top: 15px;
  left: 13px;

  width: 11px;
  height: 11px;
}
