search--small {
  background-color: blue;
  width: 100%;
  height: 42px;
  margin-bottom: 20px;
  padding: 50px;
}

/* Іконка у малій панелі */
.search--small .search__icon {
  background: url(../images/search-icon.svg) no-repeat center;
  width: 11px;
  height: 11px;
  top: 15px;
  left: 13px;
}
