.search-bar {
  max-width: 100%;
  margin: 20px 8px;
  color: var(--text-color);
  padding: 25px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
}

.search-bar--big {
  height: 70px;
}

.search-bar--small {
  height: 42px;
  font-size: 14px;
  padding: 14px 12px;
}

.search-bar:hover {
  box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
}

.search-bar:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.search-bar:last-child {
  margin-bottom: 0;
}

.search-bar__icon {
  height: 19px;
  width: 19px;
  margin-right: 18px;
  background-image: url('images/Search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.search-bar__input {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  line-height: 22px;
  border: none;
  height: 19px;
}

.search-bar__icon--small {
  height: 11px;
  width: 11px;
  margin-right: 10px;
}

.search-bar__input::placeholder {
  color: var(--text-color);
}

.search-bar__input--focus:focus {
  outline: none;
  font-weight: 700;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
