.small-search {
  display: flex;
  position: relative;
}

.small-search__icon {
  position: absolute;
  height: 11px;
  width: 11px;
  margin: 15px 13px;
  background-image: url(./images/Search.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.small-search__input {
  height: 42px;
  font-size: 14px;
  line-height: 42px;
  padding-left: 33px;
  box-sizing: border-box;
}

.small-search__input:focus {
  background-image: linear-gradient(#fff, #f6f6f7);
  font-weight: 900;
}
