/* add styles here */
@font-face {
  font-family: 'Avenir book';
  src: url('fonts/Avenir-Book.ttf');
}

@font-face {
  font-family: 'Avenir heavy';
  src: url('fonts/Avenir-Heavy.ttf');
}

@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir.ttc');
  font-weight: 300;
}

input::placeholder {
  color: #3d4e61;
}

.big-search-bar {
  margin: 20px auto;
  display: flex;
  align-content: center;
  height: 70px;
  border: 1px solid #e1e7ed;
  box-shadow: 0 1px 8px 0 #3d4e611a;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
}

.big-search-bar:hover {
  border: 1px solid #e1e7ed;
  box-shadow: 0 4px 4px 0 #00000040;
}

.big-search-bar:focus {
  border: none;
  box-shadow: 0 4px 4px 0 #00000040;
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.big-search-bar--icon {
  background-image: url(images/Search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 19px;
  width: 19px;
  margin-right: 17px;
  margin-left: 25px;
  transform: translateY(-1px);
}

.big-search-bar--bar {
  border: none;
  padding: 1px;
  font-family: Avenir, serif;
  font-size: 16px;
  color: #3d4e61;
  font-weight: 400;
}

.big-search-bar--bar:focus {
  border: 1px solid #e1e7ed;
  box-shadow: 0 3px 8px 0 #3d4e6133;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Avenir heavy', serif;
  color: #3d4e61;
}

.small-search-bar {
  margin: 20px 0;
  display: flex;
  align-content: center;
  height: 42px;
  border: 1px solid #e1e7ed;
  box-shadow: 0 1px 8px 0 #3d4e611a;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
}

.small-search-bar:hover {
  border: 1px solid #e1e7ed;
  box-shadow: 0 3px 8px 0 #3d4e6133;
}

.small-search-bar:focus {
  border: none;
  box-shadow: 0 4px 4px 0 #00000040;
  background: linear-gradient(180deg, #fff 0%, #f6f6f7 100%);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.small-search-bar--bar {
  border: none;
  padding: 1px;
  font-family: Avenir, serif;
  font-size: 14px;
  color: #3d4e61;
  font-weight: 400;
}

.small-search-bar--icon {
  background-image: url(images/Search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 11px;
  width: 11px;
  margin-right: 9px;
  margin-left: 12px;
  transform: translateY(-1px);
}

.small-search-bar--bar:focus {
  border: 1px solid #e1e7ed;
  box-shadow: 0 3px 8px 0 #3d4e6133;
  text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Avenir heavy', serif;
  color: #3d4e61;
}

