body {
  margin-top: 20px;
}

@font-face {
  font-family: Avenir;
  font-weight: 300;
  src: url(fonts/Avenir-Book.ttf);
}

@font-face {
  font-family: Avenir;
  font-weight: 100;
  src: url(fonts/Avenir-Heavy.ttf);
}

/* .def {
  background-color: brown;
} */

.hov {
  height: 42px;
  margin-top: 14px;
  /* background-color: rgb(125, 113, 213); */
}

.form_field :first-child {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(225, 231, 237, 1);
  font-family: Avenir, Helvetica, sans-serif;
  /* background-color: yellow; */
}

.def_name {
  height: 70px;
  font-size: 16px;
  padding-left: 62px;
  border: 1px solid rgba(225, 231, 237, 1);
  box-shadow: 0 1px 8px rgba(61, 78, 97, 0.1);
}

::placeholder {
  color: rgba(61, 78, 97, 1);
}

.hov_name {
  height: 42px;
  font-size: 14px;
  margin-top: 20px;
  padding-left: 33px;
}

.photo_big {
  position: absolute;
  width: 19px;
  left: 26px;
  top: 45px;
}

.photo_small {
  position: relative;
  width: 11px;
  left: 13px;
  top: -30px;
}
