@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir-Book.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir-Heavy.ttf);
  font-weight: 700;
}

$shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

.search-bar {
  display: block;
  position: relative;
  margin-top: 20px;

  &__input {
    box-sizing: border-box;
    height: 70px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e1e7ed;
    box-shadow: 0 1px 8px 0 rgba(61, 78, 98, 0.1);
    padding-left: 62px;
    font-family: Avenir, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;

    &::placeholder {
      color: #3d4e61;
    }

    &:focus ,
    &:hover {
      box-shadow: $shadow;
    }

    &:focus {
      background: linear-gradient(180deg, #fff, #f6f6f7);
      font-weight: 800;
      text-shadow: $shadow;

      &::placeholder {
        font-weight: 300;
      }
    }

    &--small {
      height: 42px;
      font-size: 14px;
      padding-left: 33px;

    }
  }

  &__img {
    position: absolute;
    top: 25px;
    left: 26px;
    height: 19px;
    width: 19px;

    &--small {
      height: 11px;
      width: 11px;
      top: 15px;
      left: 13px;
    }
  }
}
