html {
  --text-color: #3d4e61;
  --box-border-color: #e1e7ed;
  --box-shadow-color: #3d4e611a;
  --box-large-hover-shadow-color: #00000040;
  --box-small-hover-shadow-color: #3d4e6133;
  --first-gradient-form-color: #fff;
  --second-gradient-form-color: #f6f6f7;
  --icon-large-size: 19px;
  --icon-small-size: 11px;
}
