body {
  --primary-color: #3d4e61;
  --font-family: "Avenir", sans-serif;
  --input-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
  --search-image: url("./images/Search.svg");
  --hover-box-shadow: 0 3px 8px 0 rgba(61, 78, 97, 0.2);
  --big-font-size: 16px;
  --small-font-size: 14px;
  --big-input-size: 70px;
  --big-input-padding: 62px;
  --small-input-padding: 33px;
  --small-input-size: 42px;
}
